<%= link_to product_path(product.id), class: 'product', 'data-turbo-frame': '_top' do %>
    <%= image_tag product.image, width: 200 if product.image.attached? %>
    <h3><%= product.title %></h3>
    <p> <%= product.price %> </p>
<% end %>
